
<footer class="footer" role="contentinfo">
    <div class="block">
        <p><small>Copyright &copy; {{site_owner}} | <a href="{{site_url}}" target="_blank">{{site_url}}</a></small></p>
        <hr>
    </div>
</footer>

<div class="overlay" id="overlay"></div>

<!-- @include _nav.html -->

<!-- <script type="text/javascript" src="{{assets}}js/vendor/jquery-1.11.1.min.js"></script> -->
<script type="text/javascript" src="{{assets}}js/vendor/underscore.min.js"></script>
<script type="text/javascript" src="{{assets}}js/main.min.js"></script>
