
// .body--header {
//     padding-top: em($unit * 15);
// }

.header {
    z-index: $z-index--header;
    position: relative;
    padding: em($unit--baseline) 0;

    .block__title {
        @include visually-hidden;
    }
}

.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba($colour__white, 0.8);
}

.footer {
    padding: em($unit--baseline) 0;
}
