
$z-index--slides : $z-index--main;

$slides--transition: 500ms;

.slides {
    z-index: $z-index--slides;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.slides--fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100vh;

    &.slides--end {
        position: relative;
        overflow-y: visible;
    }
}

.slides__section {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity $slides--transition ease, transform $slides--transition ease;
    // transition: height 500ms ease-in;
    background: $colour__bg--light;

    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            z-index: $z-index--slides + (10 - $i);
        }
    }

    & > .block {
        padding-top: em($unit--baseline * 2);
        padding-bottom: em($unit--baseline * 2);

        .slides--fullscreen & {
            padding-top: em($unit--baseline * 6);
        }
    }
}

.slides__section--inactive {
    z-index: 1;
    // opacity: 0;
    transform: translate3d(0, -100%, 0);

    .no-csstransforms3d & {
        top: -100%;
    }
}

// .slides--height {
//     .slides__section {
//         transform: none !important;
//         transition: height $slides--transition ease;
//     }

//     .slides__section--inactive {
//         opacity: 1;
//         height: 0;
//     }
// }

.slides__nav {
    z-index: $z-index--nav;
    position: absolute;
    top: 50%;
    right: em($unit--gutter);
    transform: translateY(-50%);
    transition: opacity 200ms ease;
    opacity: 1;

    .slides--hide-nav & {
        pointer-events: none;
        opacity: 0;
    }
}

.slides__nav-link {
    display: block;
    position: relative;
    margin: em(12) 0;
    width: em(8);
    height: em(8);
    border: 0;
    outline: 0;
    border-radius: 100%;
    background-color: rgba($colour__slate, 0.5);
    transition: background-color 300ms ease;

    span {
        @include visually-hidden;
    }

    &:before {
        position: absolute;
        content: attr(data-label);
        top: 50%;
        right: 100%;
        margin-right: 0.7em;
        transform: translateY(-50%);
        font-size: em($unit--p--small);
        color: $colour__slate;
        line-height: 100%;
        white-space: nowrap;
        transition: opacity 150ms ease;
        opacity: 0;
    }

    &:after {
        position: absolute;
        content: "";
        top: em(-2);
        left: em(-2);
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: em(2) solid rgba($colour__slate, 0);
        transition: border-color 300ms ease;
    }

    &:hover {
        background-color: rgba($colour__slate, 1);

        &:before {
            opacity: 1;
        }
    }

    &--active {
        background-color: rgba($colour__slate, 0) !important;
        &:after {
            border-color: rgba($colour__slate, 1);
        }
    }

    .slides__nav--reversed & {
        background-color: rgba($colour__white, 0.5);

        &:before {
            color: $colour__white;
        }

        &:after {
            border: em(2) solid rgba($colour__white, 0);
        }

        &:hover {
            background-color: rgba($colour__white, 1);
        }

        &--active {
            background-color: rgba($colour__white, 0) !important;
            &:after {
                border-color: rgba($colour__white, 1);
            }
        }
    }
}
