
<nav class="nav" id="nav" role="navigation">
    <h2 class="nav__title">Website Navigation</h2>
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__link" href="<!-- @path index.html -->">Home</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="<!-- @path origin/index.html -->">Patterns</a>
        </li>
    </ul>
    <a class="nav-close" id="nav-close" href="#top">
        <svg viewbox="0 0 35 35"><use xlink:href="#svg--close"></use></svg>
        <span>Return to Top of Page</span>
    </a>
</nav>
