{{>header}}

<main role="main" id="main">

    <div class="fullscreen">

        <nav class="fullscreen__nav">
            <a class="fullscreen__nav-link fullscreen__nav-link--active" href="#section-1" data-label="Section 1"><span>Section 1</span></a>
            <a class="fullscreen__nav-link" href="#section-2" data-label="Section 2"><span>Section 2</span></a>
            <a class="fullscreen__nav-link" href="#section-3" data-label="Section 3"><span>Section 3</span></a>
            <a class="fullscreen__nav-link" href="#section-4" data-label="Section 4"><span>Section 4</span></a>
            <a class="fullscreen__nav-link" href="#section-5" data-label="Section 5"><span>Section 5</span></a>
        </nav>

        <section class="fullscreen__section" id="section-1" style="background: #d8e6cf;">
            <div class="block">
                <h1>Section 1</h1>
            </div>
        </section>
        <!--/.fullscreen__section-->

        <section class="fullscreen__section" id="section-2" style="background: #d8e2de;">
            <div class="block">
                <h1>Section 2</h1>
            </div>
        </section>
        <!--/.fullscreen__section-->

        <section class="fullscreen__section" id="section-3" style="background: #ddd7de;">
            <div class="block">
                <h1>Section 3</h1>
            </div>
        </section>
        <!--/.fullscreen__section-->


        <section class="fullscreen__section" id="section-4" style="background: #e8d7dd;">
            <div class="block">
                <h1>Section 4</h1>
            </div>
        </section>
        <!--/.fullscreen__section-->


        <section class="fullscreen__section" id="section-5">
            <div class="block">
                <h1>Section 5</h1>
            </div>
        </section>
        <!--/.fullscreen__section-->

    </div>
    <!--/.fullscreen-->

</main>

{{>footer}}
