{{>header}}

<main class="{{main_class}}" id="main" role="main">

    <div class="block">

        <div class="prose">
            <h1>Fixed Header</h1>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
        </div>

    </div>

</main>

{{>footer}}
