{{>header}}

<main class="{{main_class}}" id="main" role="main">

    <div class="block">

        <div class="slides slides--height">

            <nav class="slides__nav">
                <a class="slides__nav-link" data-section="1" data-label="Section 1" href="#section-1">
                    <span>Section 1</span>
                </a>
                <a class="slides__nav-link" data-section="2" data-label="Section 2" href="#section-2">
                    <span>Section 2</span>
                </a>
                <a class="slides__nav-link" data-section="3" data-label="Section 3" href="#section-3">
                    <span>Section 3</span>
                </a>
            </nav>

            <section class="slides__section" id="section-1" style="background: #cd434c; background-image: url('../assets/img/slide-banner.jpg');" data-reversed>
                <div class="block">
                    <h1 style="color: #fff;">Basic Controls</h1>
                </div>
            </section>
            <!--/.slides__section-->

            <section class="slides__section" id="section-2" style="background: #494b4c;" data-reversed>
                <div class="block">
                    <h1 style="color: #fff;">Section 2</h1>
                </div>
            </section>
            <!--/.slides__section-->

            <section class="slides__section" id="section-3">
                <div class="block">
                    <h1>Section 3</h1>
                </div>
            </section>
            <!--/.slides__section-->

        </div>
        <!--/.slides-->

        <br>

        <div class="slides slides--scroll slides--touch">

            <nav class="slides__nav">
                <a class="slides__nav-link" data-section="1" data-label="Section 1" href="#section-1">
                    <span>Section 1</span>
                </a>
                <a class="slides__nav-link" data-section="2" data-label="Section 2" href="#section-2">
                    <span>Section 2</span>
                </a>
                <a class="slides__nav-link" data-section="3" data-label="Section 3" href="#section-3">
                    <span>Section 3</span>
                </a>
                <a class="slides__nav-link" data-section="4" data-label="Section 4" href="#section-4">
                    <span>Section 4</span>
                </a>
                <a class="slides__nav-link" data-section="5" data-label="Section 5" href="#section-5">
                    <span>Section 5</span>
                </a>
            </nav>

            <section class="slides__section" id="section-1" style="background: #72bf8a;" data-reversed>
                <div class="block">
                    <h1>Touch &amp; Scroll Capture</h1>
                </div>
            </section>
            <!--/.slides__section-->

            <section class="slides__section" id="section-2" style="background: #72adbf;" data-reversed>
                <div class="block">
                    <h1>Section 2</h1>
                </div>
            </section>
            <!--/.slides__section-->

            <section class="slides__section" id="section-3" style="background: #fff699;">
                <div class="block">
                    <h1>Section 3</h1>
                </div>
            </section>
            <!--/.slides__section-->


            <section class="slides__section" id="section-4" style="background: #b472bf;" data-reversed>
                <div class="block">
                    <h1>Section 4</h1>
                </div>
            </section>
            <!--/.slides__section-->


            <section class="slides__section" id="section-5" style="background: transparent;">
                <div class="block">
                    <h1>Section 5</h1>
                </div>
            </section>
            <!--/.slides__section-->

        </div>
        <!--/.slides-->

    </div>

</main>

{{>footer}}
